.container {
  position: relative;
  /* width: 100%;
    max-width: 400px; */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
  transition: display 0.3s linear, background-color 0.3 linear !important;
}

.container:hover .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.6)
}

.icon {
  text-align: center;
}

.iconi {
  color: white;
  font-size: 100px;
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}